.custom-select {
  position: relative;
  font-family: Arial;
  border-radius: 6px;
  border: 1px solid #8b8888;
}
.custom-select select {
  display: none;
}
.custom-select * {
  /* Firefox */
  -moz-transition: all 0.5s ease-in;
  /* WebKit */
  -webkit-transition: all 0.5s ease-in;
  /* Opera */
  -o-transition: all 0.5s ease-in;
  /* Standard */
  transition: all 0.5s ease-in;
}
.select-selected {
  background-color: #ffffff;
  color: #272727;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #3e3e3e transparent transparent transparent;
}
.select-selected:hover {
  box-shadow: 0 0 8px 0px #9f9f9f;
}
.select-selected.select-arrow-active {
  box-shadow: 0 0 8px 0px #9f9f9f;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #323232 transparent;
  top: 7px;
}
.select-items {
  padding: 5px 0;
  border: 1px solid #8b8888;
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-items div {
  color: #272727;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-items.select-hide {
  display: none;
}
.select-items .select-items-group {
  background-color: #b7b7b7;
  padding: 2px 8px !important;
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
}
.select-items .select-items-group:hover {
  background-color: #b7b7b7 !important;
}
.select-items .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
